@model Proyecto1._1.Models.Estudiante_Model
@using (Html.BeginForm("CreateEstudiante", "Estudiante"))
{
<div class="form-group">
    <div class="form-group">
        @Html.LabelFor(c => c.nombre, new { @class = "col-md-2 control-label" })

        @Html.TextBoxFor(c => c.nombre, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.apellido, new { @class = "col-md-2 control-label" })

        @Html.TextBoxFor(c => c.apellido, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.sexo, new { @class = "col-md-2 control-label" })

        @Html.TextBoxFor(c => c.sexo, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.fechadenacimiento, new { @class = "col-md-2 control-label" })

        @Html.TextBoxFor(c => c.fechadenacimiento, new { @class = "form-control datepicker", Value = DateTime.Now.ToShortDateString(), @type = "date" })
    </div>
    <button class="btn btn-sm">hhh</button>
</div>
}

