@model IEnumerable<Proyecto1._1.Models.Estudiante_Model> 
    @{
            ViewBag.Title = "ListaPasantes";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

  <h2>Listado de pasantes</h2>

  <div class="list-group">
      @foreach (var estudiante in Model)
      {
      <button type="button"  class="list-group-item list-group-item-action iftive">
        <table>
            <tr>
                <td rowspan="3">
                    <img src="@Url.Content("~/Content/Image/icon.png")" width="80px" height="100px" alt="imgf" />
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    Ap. Paterno/Materno: @Html.ActionLink(estudiante.apellido, "perfilPasante", "Home", new { id = estudiante.id }, null)
                                </td>
                            </tr>
                            <tr>
                                <td>Nombre: @estudiante.nombre</td>
                            </tr>
                            <tr>
                                <td>CI: @estudiante.ci</td>
                            </tr>
                            <tr>
                                <td>Sexo: @estudiante.sexo</td>
                            </tr>
                            <tr>
                                <td>Telefono: @estudiante.telefono</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
          </button>
                  <br/>
      }

  </div>