@model IQueryable<Proyecto1._1.Models.Estudiante_Model>

<h2 style="color:white">Perfil del pasante</h2>

@foreach (var estudiante in Model)
{
<table>
    <tr>
        <td rowspan="3">
            <img src="@Url.Content("~/Content/Image/icon.png")" width="80px" height="100px" alt="imgf" />
        </td>
        <td>
            <table>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="color:white">Nombre: @estudiante.nombre</td>
                    </tr>
                    <tr>
                        <td style="color:white">Apellido Paterno/Materno: @estudiante.apellido</td>
                    </tr>
                    <tr>
                        <td style="color:white">Fecha de nacimiento: @estudiante.fechadenacimiento</td>
                    </tr>
                    <tr>
                        <td style="color:white">Telefono: @estudiante.telefono</td>
                    </tr>
                    <tr>
                        <td style="color:white">Sexo: @estudiante.sexo</td>
                    </tr>
                </tbody>
            </table>

        </td>

    </tr>
    <tr>
        <td>
        
        </td>
        <td></td>
        <td></td>
    </tr>
</table>

}