<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/toastr")

</head>

<body style="background-image:url(../../Content/Image/Fonfo.jpg); background-repeat: no-repeat; background-attachment: fixed">
    <div class="body-content " style="background-color:#41281B">
        <div class="container-logo ">
            <div class="logo-image">
                <img src="~/Content/Image/Logoo.jpeg" class=" logo-image" />
            </div>
        </div>
    </div>
    <div class="classContainer">
        

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inverse navbarcolor">

                <div class="container-nav">                 

                 
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-home", })
                        </div>
                        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a @Html.ActionLink("Que materia desea pasar?", "Index", "Estudiante") </a>
                                </li>
                                <li>

                                </li>
                                <li>
                                    <a @Html.ActionLink("Dejar un comentario", "dejarComentario", "Home")</a>
                                </li>
                                <li>

                                </li>
                                <li>
                                    <a @Html.ActionLink("Acerca de", "About", "Home")</a>
                                </li>
                                <li>

                                </li>
                                <li>
                                    <a @Html.ActionLink("Contacto", "Contact", "Home")</a>
                                </li>
                            </ul>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav"></ul>
                                @Html.Partial("_LoginPartial")
                                <div class="navbar-right">


                                </div>

                                <ul class="nav navbar-nav menuDropdown"></ul>

                            </div>
                        </nav>
                     
                    </div>
                </div>
            </div>

        </div>

        <div class="container body-content">
            <div class="alinearIzquierda">
                <div class="classContainer">
                    @RenderBody()
                    <input type="hidden" id="success"
                           value="@TempData["success"]" />
                    <input type="hidden" id="info"
                           value="@TempData["info"]" />
                    <input type="hidden" id="warning"
                           value="@TempData["warning"]" />
                    <input type="hidden" id="error"
                           value="@TempData["error"]" />
                </div>
            </div>
        </div>

        <div class=" alinearCentro">
            <div class="partedeabajo-app">
                <div class="container body-content">

                    <hr />
                    <footer>
                        <p style="color:white"> Reservada por derecho de Autor. @DateTime.Now.Year </p>
                    </footer>
                </div>
            </div>
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)
    </div>
</body>




</html>
